# Build results
bin/
obj/
publish/

# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio Code
.vscode/

# Logs
*.log

# Backup & temp files
*.bak
*.tmp
*.temp

# Configuração local
appsettings.Development.json
/.gitignore
